fastapi
uvicorn
gunicorn
python-dotenv
python-multipart
starlette
pydantic
requests
azure-storage-blob
openai
#insightface
#deepface
opencv-python
numpy
scikit-learn
scikit-image
scipy
matplotlib
pillow
imageio
tifffile
protobuf
onnx
onnxruntime
coloredlogs
humanfriendly
anyio
sniffio
h11
httpcore
httptools
websockets
PyYAML
# joblib
# threadpoolctl
packaging
six
idna
charset-normalizer
urllib3
watchfiles